*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 3;
}
.loader{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loop 1s infinite ease 5s;

}
.preloaderremove{
    transform: translateY(-102%);
    transition: 1s ease-out 0.5s;
}
.loaderremove{
    opacity: 0;
    transition: 1s ease-out 0.1s;
    animation: none;
}
.loaderrem{
    display: none;
}
.loaderlogo{
    width: auto;
    height: 25rem;   
}
.loaderlogo path:nth-child(1){
    stroke-dasharray: 3717;
    stroke-dashoffset: 3717;
    animation: pathanime 2s ease forwards 2.2s;
}
.loaderlogo path:nth-child(2){
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    animation: pathanime 2s ease forwards;
}
.loaderlogo path:nth-child(3){
    stroke-dasharray: 131;
    stroke-dashoffset: 131;
    animation: pathanime 2s ease forwards 0.2s;
}
.loaderlogo path:nth-child(4){
    stroke-dasharray: 132;
    stroke-dashoffset: 132;
    animation: pathanime 2s ease forwards 0.4s;
}
.loaderlogo path:nth-child(5){
    stroke-dasharray: 129;
    stroke-dashoffset: 129;
    animation: pathanime 2s ease forwards 0.6s;
}
.loaderlogo path:nth-child(6){
    stroke-dasharray: 118;
    stroke-dashoffset: 118;
    animation: pathanime 2s ease forwards 0.8s;
}
.loaderlogo path:nth-child(7){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1s;
}
.loaderlogo path:nth-child(8){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1.2s;
}
.loaderlogo path:nth-child(9){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1.4s;
}
.loaderlogo path:nth-child(10){
    stroke-dasharray: 78;
    stroke-dashoffset: 78;
    animation: pathanime 2s ease forwards 1.6s;
}
.loaderlogo path:nth-child(11){
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    animation: pathanime 2s ease forwards 1.8s;
}
.loaderlogo path:nth-child(12){
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
    animation: pathanime 2s ease forwards 2s;
}
@keyframes pathanime{
    50%{
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
    100%{
        fill: #000000;
    }
}
@keyframes loop{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 1;
    }
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #eeeeee;
    overflow: hidden;
}
header a{
    color: #eeeeee;
}
.item{
    background-color: #eeeeee;
}
.navbaractive{
    background-color: #010101;
    box-shadow: 2px 0 18px #0000002e;
}
.cover{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-image: url('images/cover/01.jpg'); */
    background-color: #010101;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    text-align: right;
    font-size: 1.2rem;
}
.cover .logo, 
.covertext{
    margin-right: 4rem;
    margin-left: 4rem;
    color: #eeeeee;
}
.covertext{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
}
.logo{
    width: auto;
    height: 60%;
    opacity: 0;
}
.logoactive{
    opacity: 1;
    height: 50%;
    transition: 1s ease 1.1s;
}
.about{
    width: 100%;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color:#010101;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.textcontainer{
    width: 52%;
    height: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 3rem;
    opacity: 0;
    transform: translateY(60%);
    transition: 0.8s ease;
}
.about img{
    width: 40%;
    height: auto;
}
.main a{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 2rem;
}
.btn{
    width: 8rem;
    height: 3rem;
    border: 2px solid #101010;
    color: #101010;
    background-color: #10101000;
    transition: 0.4s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    color: #eeeeee;
    background-color: #101010;
    border:2px solid #10101000;
}
.cover .btn{
    border-color: #eeeeee;
    color: #eeeeee;
    transition: 0.4s ease;
    margin-top: 1rem;
}
.cover .btn:hover{
    background-color: #eeeeee;
    color: #010101;
}
.portfolio{
    width: 100%;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container{
    margin-top: 5rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    transform: translateY(40%);
    opacity: 0;
    transition: 0.5s ease;
}
.box{
    overflow: hidden;
    margin-bottom: 1rem;
}
.grey{
    width: 100%;
    height: auto;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.grey:hover{
    opacity: 70%;
    transform: scale(1.2);
}
.portfolio a{
    align-self: flex-end;
    margin-right: 2rem;
}
.blog{
    width: 100%;
    height: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
}

.textbox{
    width: 60%;
    height: auto;
    text-align: justify;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-gap: 1rem;
    padding: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #0101014b;
    opacity: 0;
    transform: translateY(40%);
    transition: 0.5s ease;
}
.blogicon{
    width: 90%;
    height: auto;
    grid-row: 1/3;
}
.contact{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.text{
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield; 
    border: 1px solid #222;
}
input::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.textcomment{
    width: 60%;
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    border: 1px solid #222;
}
.feedback{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialmedia{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5rem;
    justify-content:center;
    align-items: center;
}
.icon{
    width: 2rem;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.logosmall{
    width: 10rem;
    height: auto;
    margin-top: 2rem;
}
footer{
    width: 100%;
    color: #666666;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}
.objectappear{
    opacity: 1;
    transform: translateY(0);
}
@media screen and (max-width:700px){
    .navlist{
        background-color: #010101;
    }
    .loaderlogo{
        height: 12rem;
    }
    .cover{
        flex-direction: column;
        align-items: flex-end;
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        font-size: 0.9rem;
    }
    .cover .logo,
    .covertext{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .logo{
        height: 50%;
        align-self: center;
    }
    .logoactive{
        height: 30%;
    }
    .about{
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .btn{
        width: 7rem;
        font-size: 0.8rem;
    }
    .textcontainer{
        width: 80%;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }
    .textbox{
        grid-template-columns: 0.3fr 1fr;
        grid-template-rows: 0.2fr 1fr;
    }
    .blogicon{
        width: 100%;
        grid-row: 1/2;
    }
    .textbox p{
        grid-column: 1/3;
    }
    .about img{
        width: 90%;
        align-self: flex-start;
    }
    .portfolio{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .image-container{
        grid-template-columns: 1fr;
    }
    .textbox{
        width: 80%;
    }
}
