*{
    margin: 0;
    padding: 0;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 3;
}
.loader{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loop 1s infinite ease 5s;

}
.preloaderremove{
    transform: translateY(-102%);
    transition: 1s ease-out 0.5s;
}
.loaderremove{
    opacity: 0;
    transition: 1s ease-out 0.1s;
    animation: none;
}
.loaderrem{
    display: none;
}
.loaderlogo{
    width: auto;
    height: 25rem;   
}
.loaderlogo path:nth-child(1){
    stroke-dasharray: 3717;
    stroke-dashoffset: 3717;
    animation: pathanime 2s ease forwards 2.2s;
}
.loaderlogo path:nth-child(2){
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    animation: pathanime 2s ease forwards;
}
.loaderlogo path:nth-child(3){
    stroke-dasharray: 131;
    stroke-dashoffset: 131;
    animation: pathanime 2s ease forwards 0.2s;
}
.loaderlogo path:nth-child(4){
    stroke-dasharray: 132;
    stroke-dashoffset: 132;
    animation: pathanime 2s ease forwards 0.4s;
}
.loaderlogo path:nth-child(5){
    stroke-dasharray: 129;
    stroke-dashoffset: 129;
    animation: pathanime 2s ease forwards 0.6s;
}
.loaderlogo path:nth-child(6){
    stroke-dasharray: 118;
    stroke-dashoffset: 118;
    animation: pathanime 2s ease forwards 0.8s;
}
.loaderlogo path:nth-child(7){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1s;
}
.loaderlogo path:nth-child(8){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1.2s;
}
.loaderlogo path:nth-child(9){
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: pathanime 2s ease forwards 1.4s;
}
.loaderlogo path:nth-child(10){
    stroke-dasharray: 78;
    stroke-dashoffset: 78;
    animation: pathanime 2s ease forwards 1.6s;
}
.loaderlogo path:nth-child(11){
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    animation: pathanime 2s ease forwards 1.8s;
}
.loaderlogo path:nth-child(12){
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
    animation: pathanime 2s ease forwards 2s;
}
@keyframes pathanime{
    50%{
        stroke-dashoffset: 0;
        fill: #ffffff;
    }
    100%{
        fill: #000000;
    }
}
@keyframes loop{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 1;
    }
}
header{
    background-color: #01010100;
}
header a{
    color: #ffffff;
}
.navicon div{
    background-color: #eeeeee;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    /* padding-bottom: 4rem; */
}
.cover{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #000000aa, #00000000), url('../images/PorterResidency/Photo--1.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    transition: 0.4s ease-in;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(100%);
}
.cover:hover{
    filter: grayscale(0);
    transition-delay: 0s;
}
.parallax{
    font-size: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    color: #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: ease;
}
.parallax:hover{
    filter: grayscale(0);
    transition-delay: 0s;
}
.parallax:nth-child(2){
    background-image: linear-gradient(to top, #000000dd, #00000044), url('../images/Briefing/Photo--1.jpg');   
}
.parallax:nth-child(3){
    background-image: linear-gradient(to top, #000000dd, #00000044), url('../images/PorterResidency/Photo--5.jpg');
}
.parallax:nth-child(4){
    background-image: linear-gradient(to top, #000000dd, #00000044), url('../images/int/Photo--6.jpg');
}
.parallax h2{
    font-size: 2rem;
}
.main a{
    text-decoration: none;
    margin-top: 4rem;
}
.btn{
    width: 10rem;
    height: 4rem;
    border: 2px solid #101010;
    color: #101010;
    background-color: #10101000;
    transition: 0.4s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#arrow{
    fill: #101010;
    width: 0.8rem;
    height: auto;
    transition: 0.4s ease;
}
.btn:hover{
    color: #eeeeee;
    background-color: #101010;
    border:2px solid #10101000;
}
.btn:hover #arrow{
    fill: #eeeeee;
}
.parallax .btn{
    width: 8rem;
    height: 3rem;
    border: 2px solid #eeeeee;
    color: #eeeeee;
    background-color: #eeeeee00;
    display: block;
    margin-top: 3rem;
}
.parallax .btn:hover{
    color: #101010;
    background-color: #eeeeee;
    border:2px solid #eeeeee00;
}
.container{
    width: 100%;
    height: 1vh;
    opacity: 0;
    padding-top: 3rem;
    background-color: #000000;
    display: none;
    grid-template-columns: repeat(auto-fit, 30%);
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s ease;
}
.containeractive{
    display: grid;
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    overflow-y: scroll;
}
.cardcontainer{
    height: 16rem;
    overflow: hidden;   
    /* background-color: #ffffff;
    box-shadow: 2px 2px 20px #001d2446 ;
    opacity: 0;
    transform: translateY(80%); */
    transition: 0.3s ease-in;
    margin-bottom: 2rem;
    cursor: pointer;
}
.card{
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: 0.5s ease;
}
.images{
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: 0.3s ease;
}
.front{
    position: relative;
    top: -16rem;
    color: #ffffff;
    font-weight: 800;
    background-color: #00000044;
    opacity: 0;
}
.cardcontainer:hover .front{
    opacity: 1;
}
.cardcontainer:hover .images{
    filter: grayscale(0);
}
.socialmedia{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5rem;
    justify-content:center;
    align-items: center;
}
.icon{
    width: 2rem;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.logosmall{
    width: 10rem;
    height: auto;
    margin-top: 2rem;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
footer{
    width: 100%;
    color: #666666;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}
.ontop{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
}
/* .objectappear{
    opacity: 1;
    transform: translateY(0);
} */
@media screen and (max-width:1000px){
    .container {
        grid-template-columns: repeat(auto-fit, 45%);
    }
}
@media screen and (max-width:700px){
    .loaderlogo{
        height: 12rem;
    }
    .main{
        padding: 0;
    }
    .cover{
        font-size: 1.6rem;
        background-attachment: unset;
    }
    .parallax{
        font-size: 1rem;
    }
    .container .cardcontainer:nth-child(odd){
        margin-top: 2rem;
    }
    .cardcontainer{
        height: 8rem;
        margin-bottom: 0;
        opacity: 1;
        transform: translateY(0);
    }
    .card{
        height: 8rem;
    }
    .front{
        top: -8rem;
        font-size: 0.8rem;
    }
    .btn{
        width: 8rem;
        font-size: 0.8rem;
    }
    .parallax .btn{
        width: 6rem;
        height: 2rem;
        margin-top: 2rem;
    }
    .section{
        width: 100%;
        height: 100vh;
        background-color: #eeeeee;
    }
}